body {
  font-family: Georgia;
  background-image: url("https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-620553.jpg");
  background-size: cover;
  }

p {
}

.header  {
  text-align: center;
  background-color: black;
  color: white;
  opacity: 0.4;
  resize: both;
  font-weight: bold;
  text-size: 16px;
}
