body {
  font-family: Georgia;
  background-image: url("https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-620553.jpg");
  background-size: cover;
  }

p {
  font-size: 12px;
}

.header  {
  text-align: center;  
}
