html {
    background: url(https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-620553.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

body {
  font-family: Georgia;
  background-image: url("https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-620553.jpg");
  }

p {
}

div.header  {
  text-align: center;
  background-color: black;
  color: white;
  opacity: 0.4;
  font-weight: bold;
  font-size: 16px;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
